@import "shared/scss/colors";
@import "shared/scss/fonts";

.wrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 15vh 10vw 5vh 10vw;
  background-color: var(--blue-3);
}

.tabsBlock {
  left: 10vw;
  top: 100px;
  width: 100%;
  background-color: var(--snowy);
}
