@import "shared/scss/colors";
@import "shared/scss/fonts";

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-3);
}

.tabsBlock {
  position: absolute;
  left: 10vw;
  top: 100px;
  width: 80vw;
  min-height: 80vh;
  background-color: var(--snowy);
}
